<div ng-controller="formCtrl">
<form>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <label class="form-label">Origin</label>
        <input type="text" class="form-control" ng-model="data.origin">
      </div>
      <div class="col-6">
        <label class="form-label">Destination</label>
        <input type="text" class="form-control" ng-model="data.destination">
      </div>
      <div class="col-6">
        <label class="form-label">Number of passengers</label>
        <input type="number" class="form-control" ng-model="data.numberOfPassenger">
      </div>
      <div class="col-6">
        <label class="form-label">Date</label>
        <input type="datetime-local" class="form-control" ng-model="data.date">
      </div>
      <div class="col-3">
        <label class="form-label"></label>
        <button type="submit" class="btn btn-primary" style="margin-top: 12%;" ng-click="handleSave(data)">Save</button>
      </div>
    </div>
  </div>
</form>
</div>